body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/*------------------- Navigation -------------*/
nav {
  text-align: center;
  padding: 0.5em;
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 0.8em 1.2em;
  margin: 0 1em;
  border-radius: 5px;
}

/*------------------- Default Section -------------*/
section {
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*------------------- Hero Section -------------*/
#about {
  display: flex;
  align-items: center;
  gap: 2em;
}

.name {
  line-height: 1em;
}

.hero-1 h2,
p {
  text-align: left;
}

.hero-1 h2 {
  text-transform: uppercase;
  font-size: 4em;
  margin-bottom: 0.5rem;
}

.hero-1 p {
  margin-top: 0;
  width: 30em;
}

.hero-description {
  font-size: 1.05em;
  margin-bottom: 0;
  line-height: 1.3em;
}

section h2 {
  text-align: left;
  text-transform: uppercase;
}

.hero-subheadline {
  text-transform: uppercase;
  font-weight: bold;
  color: #03a9f4;
}

.hero-column-two {
  min-width: 50%;
}

img {
  width: 70%;
  height: auto;
}

.button {
  border: 2px #9c27b0 solid;
  margin-top: 2em;
  display: inline-block;
  padding: 0.7em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #9c27b0;
}

/*---------------- Skills Section ----------------------*/
#skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  width: 100%;
  max-width: 84em;
  margin: 20px auto;
  background-color: #f4f4f4;
}

.languages {
  grid-column: 1 / -1;
}

.database {
  grid-column: 1 / 2;
}

.tool {
  grid-column: 2 / 3;
}

.web-dev {
  grid-column: 3 / 4;
}

.languages,
.database,
.tool,
.web-dev {
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 10px;
  justify-content: center;
}

.list li {
  display: flex;
  flex-direction: column;
  width: 100px;
  max-width: 150px;
  font-weight: bold;
  text-align: center;
}

.list img {
  max-width: 3.5em;
  height: auto;
  display: block;
  justify-content: center;
  padding: 1em 0 1em 1.4em;
}

.mysql {
  margin-bottom: 1em;
}

/*------------------------- Projects Section ---------------------*/
.project-link {
  display: flex;
  align-items: center;
}

.arrow {
  width: 30px;
}

.project-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2em;
  align-items: center;
}

.project-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 0px;
}

.project-role {
  margin-top: 0px;
  text-transform: uppercase;
  color: #03a9f4;
  font-weight: bold;
}

.project-description {
  font-size: 1.05em;
  line-height: 1.2em;
}

/*------------- Link Button -------------*/
.project-link {
  color: #9c27b0;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.project-link:link,
.project-link:visited {
  color: #9c27b0;
  text-decoration: none;
}

.project-link:hover,
.project.link:active {
  color: #b763c6;
  text-decoration: none;
}
/*---------- End of Link Button -----------*/

.project-img {
  border: 1px solid black;
}

.project {
  margin-bottom: 20px;
}

section img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.project-img {
  border: 1px black solid;
}

.project-img.no-outline {
  border: none;
}

.coming-soon-img {
  width: 25em;
  height: auto;
}

/*------------------- Contact Section -------------*/
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
}

.contact-column-two {
  font-weight: bold;
}

.email,
.phone {
  text-transform: uppercase;
  color: #03a9f4;
  margin-top: 0px;
  margin-bottom: 0px;
}

.email-value {
  text-transform: lowercase;
}

.phone {
  margin-top: 1em;
  color: black;
}

.button:hover {
  background-color: #b763c6;
  border: #b763c6;
}

.button:active {
  background-color: #9c27b0;
}

.calculator-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*******************************************************/
/*---------------------- Responisive ------------------*/
/******************************************************/
@media screen and (max-width: 980px) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
}

@media screen and (max-width: 800px) {
  /*------------------- Skill Section -------------*/
  .languages,
  .database,
  .tool,
  .web-dev,
  .column-one,
  .column-two {
    grid-column: 1 / -1;
  }

  /*------------------- Projects Sections -------------*/
  .column-one,
  .column-two {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 560px) {
  /*------------------- Hero Section -------------*/
  #about {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 10px;
  }

  .hero-1 p {
    width: 100%;
    padding: 0 10px;
  }

  .hero-column-two {
    min-width: 100%;
  }

  .project-img {
    width: 500px;
    height: auto;
  }

  /*------------------- Contact Section -------------*/
  .contact-column-one,
  .contact-column-two {
    grid-column: 1 / -1;
  }

  .contact-column-one p {
    margin-top: 0;
  }

  .contact-column-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-container {
    gap: 2em;
  }

  .calculator-container img {
    grid-column: 1 / -1;
  }
}
